table {
  background-color: #fff;
  border-collapse: collapse;
  table-layout: inherit;
  cursor: pointer;
}

th {
  height: 50px;
  width: 15dvw;
  color: rgba(35, 50, 85, 0.8);
  text-transform: capitalize;
  font-weight: 600;
}

thead {
  background-color: #f8f8f8;
}

th:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

td {
  text-align: center;
  height: 45px;
  text-transform: capitalize;
  /* color: rgba(35, 50, 85, 0.7); */

  transition: all 0.3s linear;
}

tbody tr{
scale: 1;
transition: scale 0.2s ease;
}

tbody tr:hover {
  scale: 0.98;
}

tbody > tr {
  border-bottom: 1px solid rgba(35, 50, 85, 1);
}
